<header>

    <p>{{ title }}</p>

    <!-- Information -->
    <ng-template #popTitle>
        <i class="fas fa-fw fa-info-circle"></i>
        <span [innerHTML]="helpTitle"></span>
    </ng-template>
    <ng-template #popContent><span [innerHTML]="helpContent"></span></ng-template>

    <button type="button"
        class="btn btn-link"
        [ngbPopover]="popContent"
        [popoverTitle]="popTitle"><i class="fas fa-fw fa-info-circle"></i></button>

    <!-- Editor mode -->
    <button type="button"
        class="btn btn-link"
        [disabled]="editorMode"
        (click)="onUpdateMode($event)"><i class="fas fa-edit"></i></button>

</header>